@import 'variables.scss';
.password {
  background-color: $main;
  min-height: calc(100vh - 70px);
  color: $white;
  &.light {
    background-color: $light;
    color: $main;
  }
  &__container {
    padding: 50px 15px;
  }
  &__title {
    text-align: center;
    font-size: 51px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 50px;

    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__passphrase {
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px;
    background-color: $primary;
    border-radius: 20px;
    font-size: 22px;
    @media (max-width: $md2) {
      width: 100%;
      font-size: 18px;
    }
    @media (max-width: $md4) {
      font-size: 16px;
    }
  }

  &__string {
    max-width: calc(100% - 50px);
    word-break: break-all;
    color: $white;
  }

  &__copy {
    cursor: pointer;
    &:active {
      svg {
        path {
          fill: $purple;
        }
      }
    }
  }
  &__value {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    margin-bottom: 30px;
  }
  &__value_num {
    color: $purple;
    background-color: $primary;
    padding: 10px;
    border-radius: 20px;
  }
  &__slider_cont {
    padding: 20px 30px;
    background-color: $primary;
    border-radius: 20px;
    @media (max-width: $md4) {
      padding: 15px;
    }
  }

  &__slider {
    position: relative;
    width: 400px;
    height: 20px;
    @media (max-width: $md4) {
      width: calc(100vw - 50px);
    }
    input {
      position: absolute;
      left: -6px;
      top: 0;
      width: 412px;
      height: 20px;
      -webkit-appearance: none;
      background-color: transparent;
      z-index: 99;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 2px solid $purple;
        border-radius: 50%;
        cursor: pointer;
      }
      @media (max-width: $md4) {
        width: calc(100vw - 38px);
      }
    }
    progress {
      width: 400px;
      height: 20px;
      -webkit-appearance: none;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      overflow: hidden;
      &::-webkit-progress-bar {
        background-color: #f0f0f0;
      }
      &::-webkit-progress-value {
        background-color: purple;
      }
      @media (max-width: $md4) {
        width: calc(100vw - 50px);
      }
    }
  }
}
